root: true

parserOptions:
  ecmaVersion: 2018
  sourceType: "module"

env:
  es2017: true
  browser: true
  node: true

globals:
  define: true

extends:
  "htmlacademy/vanilla"

// rules:
//   camelcase: [2, { properties: "never" }]
//   quotes: [2, "single"]
